/* Formato General ----------------------------------------------------*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Formato header */

.row-no-margin {
    
      margin-left: 0 !important;
      margin-right: 0 !important;
    
  }

.header{
    margin-bottom: 1%;
    height: 5%;
}
.fab, .fas{
    color: white;   
     
}

.contact-col span{
    color: white;
}

.contact-col{
    text-align: center;
    font-size: 14px;
}

.rrss-bar i{
    font-size: 18px;
    margin-left: 10px;
}

.text-contact{
    color: white;
    font-size: 15px;

}


.contact-bar{
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #b40606;
}

.logo-img{
    margin: 0 auto;
}

.barra-nav{
    padding-top: 5px;
}

.navbar-nav a{
    font-weight: bolder;
}


/* Formato main Index */

.compraweb, .beneficios, .productos {
    padding-top: 30px;
}

.compraweb{
    font-weight: bolder;
}

.compraweb p {
    padding-top: 5px;
}

.beneficios {
  
    font-size: 100%;
    font-style: oblique;
    display: flex;
    justify-content: left;
    height: 15rem;
}

.beneficios p{
    padding-left: 10px;
}

.logo-ben{
    background-color: #e9d7d2;
}

.promo-ben{
    background-color: #dee4ef;
}

.col{
    border: rgba(235, 230, 230, 0.953) 1px double ;
    margin-top: 10px;
}

.col img:hover{
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    /* -webkit-animation-name: bounce;
    -webkit-animation-duration: 0.5s; */
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: cubic-bezier(
    .5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}

.col:hover{
    border: rgb(167, 24, 24) 1px double;
    transition-duration: 2s;
}

.col p{
    margin-top: 5px;
    font-weight: bolder;
}

/* Estilos del footer */

.footer{
    margin-top: 10%;
}

.foot-p1{
    margin-top: 20px;
}

.p-con a{
    text-decoration:none;
    color: black;
    
}

.p-con{
line-height: 30px;
}

.p-titcon {
    font-weight: bolder;
}

/* Estilo pagina nosotros */


.par-nos{
    line-height: 30px;
}

/* Estilo pagina productos/lista de precios */

.tit-pro div{
    background-color: #b40606;
    

}

.tit-pro div p{
    margin: 2px 0;
    color: white;
    font-weight: bolder;
}
    
.tit-pro {
    padding: 5% 0;
}

.nom-prod1{
    font-size: 3vh;
    text-align: center;
    padding-top: 20px;
    line-height: 1.5em;
 
}



/* Estilo Sucursales */

.map-row div{
    padding-top: 8%;
}

.h5-iframe{
    font-size: 95%;
    font-weight: bolder;
}

/* Media querys -- */

@media screen and (max-width:575px){
    #phone, #phone-text{
        display: none;
    }

}

@media screen and (max-width:992px){

    /* Media querys header -- */
    .rrss-bar{
        display: none;
    }
}

@media screen and (max-width:768px){

/* Media querys header -- */
    .barra-nav div img{
    height: 8rem;
}



/* Media querys index -- */

#benefits{
    display: none;
}



}










/* Keyframes */

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 10px, 0);
    }
}
/* Prefix Support */
   
@-webkit-keyframes bounce {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 10px, 0);
    }
}