.footer{
    margin-top: 10%;
    .text-footer{
        div{
            .foot-p1{
                margin-top: 20px;
            }
            .p-con{
                line-height: 30px;
                a{
                    text-decoration:none;
                    color: black;                
                }
            }
            .p-titcon {
                font-weight: bolder;
            }            
        }
    }
}

.disclaimer{
    display: none;
}