/* Estilo header */
@import 'main';

.row-no-margin {
    
    margin-left: 0 !important;
    margin-right: 0 !important;
  
}


.header{
    margin-bottom: 1%;
    height: 5%; 
    .contact-bar{
        .contact-col{
            text-align: center;
            font-size: 14px;
            .fas{
                color: white;   
            }
            span{
                color: white;
            }
        
        }
        .rrss-bar{
            @media screen and #{$grande}{
                display: none;
            }
            a{
                .fab{
                    color: white;
                }
            }
        }
    }
    .barra-nav{
        padding-top: 5px;  
    }
    
}

.navbar-nav{
    a{
    font-weight: bolder;
    }
}

.compraweb{
    div{
        p{
            padding-top: 5px;
        }
    }
}

.beneficios{
    div{
        p{
         padding-left: 10px;
     }
    }
}

.col{
    border: rgba(235, 230, 230, 0.953) 1px double ;
    margin-top: 10px;
}


/* Media querys header -- */



.barra-nav{
    div {
        img{
            @media screen and #{$mediana}{
            height: 8rem; 
            }
        }
    
    }
}

#phone, #phone-text{
    @media screen and #{$pequeña}{
        display: none;
    }
}


