@import 'base/variables';

$info-ben:(
	logo-ben:$color-secundario,
	promo-ben: $color-terciario,
	
);

/*Mapping en main de index */

@each $ben, $color in $info-ben{
	.#{$ben} {
		background-color:$color;
	}
}

$beneficios:(
    dSup: $padppal,
    tFuente: 100%,
    sFuente: oblique,
    sVisual: flex,
    izquierda: left,
    aVert: 15rem,
);

.beneficios{
	padding-top:map-get($beneficios, dSup);
	font-size:map-get($beneficios, tFuente);
	font-style:map-get($beneficios, sFuente);
	display:map-get($beneficios, sVisual);
    justify-content:map-get($beneficios, izquierda);
    height:map-get($beneficios, aVert);
}

.productos{
	padding-top: $padppal;
}